@supports not ( backdrop-filter: blur(10px) ){
  .context-menu {
      position: absolute;
      text-align: center;
      background-color: rgb(225, 225, 225);
      backdrop-filter: blur(10px);
      box-shadow: 0px 4px 16px 4px rgba(0, 0, 0, 0.2);
      border-radius: 3px;
  }
  .context-menu ul {
      padding: 0px;
      margin: 0px;
      min-width: 170px;
      list-style: none;
      background-color: rgb(225, 225, 225);
      border-radius: 10px;
  }
  .context-menu ul li {
      padding-bottom: 3px;
      padding-top: 3px;
      margin-top: 0px;
      margin-bottom: 0px;
      border-radius: 3px;
      margin: 10px;

  }
  .context-menu ul li a {
      text-decoration: none;
      color: black;
      border-radius: 10px;
      font-size: 10px
      padding: 0px;
      margin: 0px;
  }
  .context-menu ul div {
    padding: 1px;
    margin-left: 5px;
    margin-right: 5px;
    border-width: 2px;
    border-radius: 3px;
    background-color: rgba(100, 100, 100, 0.3);

  }
  .context-menu ul li:hover {
    background-color: rgba(100, 100, 100, 0.3);
  }
}
@supports ( backdrop-filter: blur(10px) ){
  .context-menu {
      position: absolute;
      text-align: center;
      background-color: rgba(225, 225, 225, 0.5);
      backdrop-filter: blur(10px);
      box-shadow: 0px 4px 16px 4px rgba(0, 0, 0, 0.2);
      border-radius: 3px;
  }

  .context-menu ul {
      padding: 0px;
      margin: 0px;
      min-width: 170px;
      list-style: none;
      background-color: rgba(225, 225, 225, 0);
      border-radius: 10px;
  }

  .context-menu ul li {
      padding-bottom: 3px;
      padding-top: 3px;
      margin-top: 0px;
      margin-bottom: 0px;
      border-radius: 3px;
      margin: 10px;

  }

  .context-menu ul li a {
      text-decoration: none;
      color: black;
      border-radius: 10px;
      font-size: 10px
      padding: 0px;
      margin: 0px;
  }
  .context-menu ul div {
    padding: 1px;
    margin-left: 5px;
    margin-right: 5px;
    border-width: 2px;
    border-radius: 3px;
    background-color: rgba(100, 100, 100, 0.3);

  }
  .context-menu ul li:hover {
    background-color: rgba(100, 100, 100, 0.3);
  }
}
